*{
    margin: 0;
    padding: 0;

}

body{

   
    background-color: tomato;
    font-family: 'Roboto', sans-serif;
}

.container{

    max-width: 1000px;
     background-color:  rgb(198, 225, 236);
    margin: 0 auto;
    padding: 30px;
}


.photo{

    width: 150px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    float: left;
    
}

.header-bio{

    float: left;
    padding: 30px;

}

h1,h2,h3,h4,h5{

    color:rgb(3, 66, 66);
}

.contuct{

    float: right;
    padding:30px;
    
}
.contuct a{
    text-decoration: none;
    color: rgb(3, 95, 95);
}

.contuct a:hover{

    color: rgb(241, 12, 173);
    text-decoration: underline;
    font-weight: bold;
}

.div-clear{
    
    clear: both;
}

hr{
    border:  solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
    
}

.contant{

}

.right-div{

    width: 70%;
   float: left;
   


}

.left-div{

   width: 30%;
   float: left;

}

.common-hr{

    margin: 20px auto;
    border: solid black 1px;
    width: 100%;
    border-bottom: none;
}

table{

    border:2px solid black;
    border-collapse: collapse;
    
    
}

th,td{

    border:2px solid black;
    padding: 10px;
    text-align: center;
}

th{

    background-color: darkgreen ;
    color: white;
    
}

td:hover{

    background-color: violet;
}

tr{
    background-color: yellowgreen;

}

.ref-left{

float: left;
width: 45%;

}

.ref-right{

    float: right;
    width: 45%;
}

.last-step{

    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.last-step a{

   
    color: tomato;
    text-decoration: none;
   
}


.last-step p{

   margin-top: 20px;  
   
   
}

span{

    color: red;
    
}
